*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}
.ic{
    display: inline;
}
button{
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    
}
.imgg{
    width: 30px;
    margin-bottom: 5px;
    display: none;
}
.link2{
    margin-top: 20px;
    opacity: 0.7;
}
.div1{
    padding: 20px;
    font-size: 20px;
}h1{

    padding: 20px;
}
h2{
    padding: 20px;
    
}
.err{
    margin-bottom: 15px;
    /* border: 1px solid black; */
    padding: 7px;
    background-color: rgb(255, 0, 51);
    color :white;
    border-radius: 5px;
}
.btn-5{
    width: 150px;
    background-color: #3498db;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.btn-5:hover{
    cursor:pointer;
}
input{
    padding: 4px;
    outline:#3498db
}
.undone{
    font-size: 35px;
    /* border: 1px solid rgb(0, 0, 0); */
    color: rgb(173, 169, 169);
    opacity: 0.5;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.undone-1{
    font-size: 35px;
    /* border: 1px solid rgb(0, 0, 0); */
    color: rgb(173, 169, 169);
    opacity: 0.5;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.p{
    /* border: 1px solid black; */
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    top: 200px;
}


.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.btn-1{
    background-color: #3498db;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.btn-3{
    background-color: rgb(219, 61, 33);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.btn-3:hover{
    cursor: pointer;
}
img{
    width: 50px;
    position: relative;
    top: 16px;
}
.nav{
   background-color: #3498db;
   padding: 10px;
}
b{
    margin-left: 10px;
}
.btn-2{
    border: none;
    padding: 5px;
    color: white;
    background-color: #2ecc71;
    font-size: 16px;
    border-radius: 5px;
}
.btn-1:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .imgg{
        margin-bottom: 20px;
        margin-left: 28px;
        display: inline;
    }
    .ic{
        display: none;
    }
  
  }